<html>
    <head>
        <title>Page de connexion</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <h1>IT Academy</h1>
        <h2>Veuillez d'abord vous connecter</h2>
        <form  method="POST" action="/connectError">
            <label>Connexion</label><br>
            <input name = 'Pseudo' type="text">
            <input type = "submit" value="Se connecter">
        </form>
        
    </body>
</html>